/* 全局通用 ------------------------------------------ 开始 */
:root {
  letter-spacing: 0.8px; /* 字间距 */
  --ymts-card-border: #e3e8f7;
  --ymts-black: #131415;
  --ymts-gray: #888;
  --ymts-gray-bg: #eee;
  --ymts-bg: #f7f9fe;
  --ymts-border: 1px solid var(--ymts-card-border);
  --el-color-primary: #ff8840;
  --el-color-primary-rgb: 255, 136, 64;
  --el-color-primary-light-1: #ff9453;
  --el-color-primary-light-2: #ff9f66;
  --el-color-primary-light-3: #ffab79;
  --el-color-primary-light-4: #ffb88c;
  --el-color-primary-light-5: #ffc49f;
  --el-color-primary-light-6: #ffcfb3;
  --el-color-primary-light-7: #ffdbc6;
  --el-color-primary-light-8: #ffe8d9;
  --el-color-primary-light-9: #fff3ec;
  --el-color-primary-dark-2: #cc6c33;
}

* {
  -moz-box-sizing: border-box; /*Firefox3.5+*/
  -webkit-box-sizing: border-box; /*Safari3.2+*/
  -o-box-sizing: border-box; /*Opera9.6*/
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--ymts-bg);
  font-size: 18px;
  font-family: "HarmonyOS_Regular" !important;
  line-height: 2;
}

.content {
  margin: 150px 0 90px calc((100vw - 1330px) / 2);
  width: 1330px;
  padding: 25px;
  border-radius: 16px;
  border: var(--ymts-border);
  background: white;
  min-height: calc(100vh - 608px);
  float: left;
}

.card {
  background: white;
  border: var(--ymts-border);
  border-radius: 16px;
  transition: 0.3s;
  overflow: hidden;
}
.card:hover {
  border-color: var(--el-color-primary);
}
.card_group {
  display: flex;
  flex-wrap: wrap;
}

/* 加粗字体 */
b,
strong {
  color: var(--el-color-primary-dark-2);
}
/* 链接 */
a,
a:hover {
  text-decoration: none !important;
}
.content a,
.login a {
  border-bottom: 2px solid var(--el-color-primary);
  color: black;
  padding: 0 4px;
  font-weight: bold;
  transition: 0.3s;
}
.content a:hover,
.login a:hover {
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  background-color: var(--el-color-primary);
  color: white;
}
/* H1-6标题 */
h1 {
  font-size: 32px;
  padding: 0 !important;
  margin: 0 auto 18px;
}
.nav_content h1,
.content h1 {
  display: inline;
}
h2 {
  font-size: 28px;
  padding: 0 !important;
  margin: 0 auto 16px;
}
h3 {
  font-size: 25px;
  padding: 0 !important;
  margin: 0 auto 16px;
}
h4 {
  font-size: 22px;
  padding: 0 !important;
  margin: 0 auto 14px;
}
h5 {
  font-size: 19px;
  padding: 0 !important;
  margin: 0 auto 12px;
}
h6 {
  font-size: 19px;
  padding: 0 !important;
  margin: 0 auto 12px;
}
/* 分隔符 */
.separator {
  margin: 0 20px !important;
}
/* 文章 */
.content p {
  margin: 12px auto;
}
.content table p {
  margin-bottom: 0;
}
.content li,
.content ol {
  list-style-type: none;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
}
.content li::before,
.content ol::before {
  top: 4px;
  left: 2px;
  padding: 5px;
  border: 3px solid var(--el-color-primary-light-5);
  border-radius: 10px;
  content: "";
  position: absolute;
}
/* 光标框选颜色 */
/* webkit, opera, IE9 */
::selection {
  background: var(--el-color-primary);
  color: #fff;
}
/* mozilla firefox */
::-moz-selection {
  background: var(--el-color-primary);
  color: #fff;
}
/* 按钮 */
button span {
  font-size: 16px;
  font-family: "HarmonyOS_Regular";
}
button .el-icon {
  font-size: 20px;
  margin-right: 15px !important;
}
/* 回到上一页面 */
.goback {
  float: right;
  margin-top: 10px;
}
/* 大居中标题描述 */
.desc {
  margin: 0 auto 30px;
  color: var(--ymts-gray);
  font-size: 28px;
  text-align: center;
}
.content .desc {
  font-size: 22px;
}
.home .el-divider__text {
  background-color: var(--ymts-bg);
}
.el-divider--horizontal {
  border-top: 2px #ccc var(--el-border-style);
  height: 50px;
  margin: 100px auto 0;
}
.content .el-divider--horizontal {
  margin: 80px auto 0;
}
/* 全局通用 ------------------------------------------ 结束 */

/* 导航栏-----------------------------------开始 */
.header {
  background-color: #ffffffe6;
  display: flex;
  height: 60px;
  line-height: 60px;
  border-bottom: var(--ymts-border);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.header_left {
  display: flex;
  cursor: pointer;
}
.header_center {
  flex: 1;
}
.header_right {
  float: right;
  display: flex;
}
.header_right img {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
  margin: auto 30px auto 0;
}
.header_right .el-dropdown {
  font-size: 18px;
  line-height: 60px;
  right: 16px;
}
/* 导航栏-----------------------------------结束 */

/* 大学简介、大学信息 ---------------------------- 开始 */
/* 表格 */
.schoolInfo {
  float: right;
}
.schoolInfo table {
  border: none;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 0 25px 25px;
}
.schoolIntro table {
  border: none;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 0 25px 25px;
}
.schoolIntro table td,
.schoolInfo table td {
  border-right: 2px solid var(--el-color-primary-light-3);
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding: 8px 12px;
}
.schoolIntro table td:last-child,
.schoolInfo table td:last-child {
  border-right: none !important;
}
.schoolIntro table tr:nth-child(even),
.schoolInfo table tr:nth-child(even) {
  background-color: var(--el-color-primary-light-9);
}
.schoolIntro table tr:nth-child(odd),
.schoolInfo table tr:nth-child(odd) {
  background-color: var(--el-color-primary-light-7);
}
/* 大学简介、大学信息 ---------------------------- 结束 */

/* Element表格 -------------------------------- 开始 */
.el-table__inner-wrapper {
  font-size: 17px;
}
.el-table .el-table__cell {
  z-index: auto;
}
/* Element表格 -------------------------------- 结束 */

/* 轮播图 -----------------------------------------开始 */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: white !important;
  opacity: 1 !important;
  border: 1px solid white;
}
.swiper-pagination-bullet-active {
  background-color: var(--el-color-primary) !important;
}
.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 20px !important;
  top: 33% !important;
}
/* 轮播图 -----------------------------------------结束 */

/* 403,404 ---------------------------------------开始 */
.background-403 .el-button > span,
.background-404 .el-button > span {
  font-size: 18px;
  font-weight: bold;
}
/* 403,404 ---------------------------------------结束 */

/* 滚动条 ---------------------------------------开始 */
::-webkit-scrollbar {
  width: 11px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-color: transparent;
}
/* 滚动条 ---------------------------------------结束 */

/* 文章里的引用组件 --------------------------------------开始 */
.quote-orange,
.quote-green,
.quote-red {
  border-radius: 16px;
  padding: 10px 20px;
  margin-bottom: 30px;
  width: 100%;
}
.quote-orange {
  background-color: var(--el-color-primary-light-6);
}
.quote-green {
  background-color: var(--el-color-success-light-5);
}
.quote-red {
  background-color: var(--el-color-danger-light-5);
}
/* 文章里的引用组件 --------------------------------------结束 */

/* 对话框 Dialog -------------------------------------------开始 */
.el-dialog {
  border-radius: 16px;
}
/* 对话框 Dialog -------------------------------------------结束 */

/* form表单 -------------------------------------------开始 */
.el-form-item__label {
  font-size: 16px;
  font-family: "HarmonyOS_Regular" !important;
}
/* form表单 -------------------------------------------结束 */

/* 侧边栏 -------------------------------------------开始*/
.el-sub-menu {
  border-bottom: var(--ymts-border);
}
/* 侧边栏 -------------------------------------------结束*/

/* 下拉菜单 -------------------------------------------开始*/
.el-dropdown-menu .el-icon {
  font-size: 20px;
  margin-right: 15px !important;
}
/* 下拉菜单 -------------------------------------------结束*/

/* 评价、评分 -------------------------------------------开始 */
.el-rate .el-rate__icon {
  font-size: 26px;
}
.el-rate--large {
  vertical-align: bottom;
  line-height: 0px;
}
.el-rate i:not(.is-active) {
  color: #d4d4d4;
}
.el-rate i i.el-rate__decimal {
  color: var(--el-rate-fill-color);
}
.el-rate__text {
  font-size: 16px;
}
.el-rate__text {
  margin-left: 16px;
}
/* 评分 -------------------------------------------结束 */

/* 评论 -------------------------------------------开始 */
.review-item {
  display: flex;
  margin-bottom: 60px;
}
.review-avatar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.review-main {
  margin-left: 20px;
  width: 100%;
}
.review-bar {
  display: flex;
  justify-content: space-between;
}
.review-bar div {
  display: inline;
}
.review-bar-right .el-rate--large {
  line-height: 10px;
}
.review-content {
  margin-top: 20px;
  padding: 10px;
  border: var(--ymts-border);
  border-radius: 16px;
  background: var(--ymts-bg);
  display: inline-block;
}
.review-time {
  color: var(--ymts-gray);
  margin-left: 20px;
}
.review-cname,
.review-gname {
  color: white;
  padding: 2px 6px;
  margin-right: 20px;
  border-radius: 6px;
}
.review-cname {
  background: var(--el-color-primary);
}
.review-gname {
  background: var(--el-color-success);
}
/* 评论 -------------------------------------------结束 */

/* 移动端 -----------------------------------------------------------------开始 */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 28px !important;
    margin: 0 auto 16px;
  }
  h2 {
    font-size: 24px;
    margin: 0 auto 14px;
  }
  h3 {
    font-size: 21px;
    margin: 0 auto 14px;
  }
  h4 {
    font-size: 18px;
    margin: 0 auto 12px;
  }
  h5 {
    font-size: 16px;
    margin: 0 auto 10px;
  }
  h6 {
    font-size: 16px;
    margin: 0 auto 10px;
  }
  .desc {
    font-size: 18px;
    margin: 0 10px 20px;
  }
  .el-divider--horizontal {
    height: 40px;
    margin: 30px auto 0;
  }
  .el-backtop {
    display: none;
  }
  .content {
    margin: 90px 0 30px;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    border: var(--ymts-border);
    background: white;
    min-height: calc(100vh - 608px);
    float: left;
  }
  .offer_item {
    width: calc(50% - 20px);
    margin: 15px;
    display: flex;
    padding: 20px;
  }
  .el-divider h1 {
    margin: 0;
  }
  .swiper-vertical > .swiper-pagination-bullets,
  .swiper-pagination-vertical.swiper-pagination-bullets {
    right: 20px !important;
    top: 168px !important;
  }
}
/* 移动端 -----------------------------------------------------------------结束 */
